<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ict.monitor.dao.DevInfoDao">
	<select id="findDevInfo" parameterType="string" resultType="ict.monitor.collection.entity.DevInfoEntity">
			SELECT * FROM devinfo where agentID=#{arg}
	</select>
	<select id="findDevInfoByAgentIDAndDevID" resultType="ict.monitor.collection.entity.DevInfoEntity">
			SELECT * FROM devinfo where agentID=#{0} and devID=#{1}
	</select>
	
</mapper>
