<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ict.monitor.dao.AgentDao">

	<resultMap id="agentMap" type="ict.monitor.bean.Agent">
		<id property="userID" column="userID" />
		<result property="agentID" column="agentID"/>
		<association property="entity" javaType="ict.monitor.collection.entity.AgentInfoEntity">
			<id property="agentID" column="agentID"/>
			<result property="os" column="os"/>
			<result property="osArc" column="osArc"/>
			<result property="osVersion" column="osVersion"/>
			<result property="ip" column="ip"/>
			<result property="computerName" column="computerName"/>
			<result property="hostName" column="hostName"/>
		</association>
	</resultMap>

	<select id="findAgentByUserIDAndAgentID" resultMap="agentMap">
			SELECT * FROM agent as b,agentinfo as a where a.agentID=b.agentID and b.userID=#{0} and b.agentID=#{1}
	</select>
	<select id="findAgentIDsByUserID" parameterType="int" resultType="ict.monitor.bean.Agent">
			SELECT * FROM agent where userID=#{arg}
	</select>
	<select id="getUserID" parameterType="string" resultType="int">
			SELECT userID FROM agent where agentID=#{arg}
	</select>
	<select id="isAgentID" parameterType="string" resultType="int">
			SELECT count(userID) FROM agent where agentID=#{arg}
	</select>
	<insert id="insert" parameterType="ict.monitor.bean.Agent">  
        insert into agent values(#{userID},#{agentID},#{type})  
    </insert>  
</mapper>
