<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:p="http://www.springframework.org/schema/p" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop" 
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:mvc="http://www.springframework.org/schema/mvc" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:websocket="http://www.springframework.org/schema/websocket"
	xsi:schemaLocation="http://www.springframework.org/schema/beans        
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd    
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-4.0.xsd
	http://www.springframework.org/schema/mvc
	http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
	http://www.springframework.org/schema/websocket
    http://www.springframework.org/schema/websocket/spring-websocket-4.0.xsd
	">
	<mvc:annotation-driven></mvc:annotation-driven>
	<context:component-scan base-package="ict.*" />
	<bean class="ict.monitor.web.ApplicationContextUtil"></bean>
	<!-- DataSource -->

	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://180.153.44.154:3306/monitor" />
		<property name="username" value="root" />
		<property name="password" value="123" />
	</bean>

	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<!-- DataSource 结束 -->

	<!-- mybatis相关 -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="configLocation" value="classpath:mybatis-config.xml" />
		<property name="dataSource" ref="dataSource" />
	</bean>

	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="annotationClass" value="org.springframework.stereotype.Repository" />
		<property name="basePackage" value="ict.monitor" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	<!-- mybatis相关 end -->

	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/*.do" />
			<mvc:exclude-mapping path="/login.do" />
			<mvc:exclude-mapping path="/appUserLogin.do"/>
			<mvc:exclude-mapping path="/appUserInfo.do"/>
			<mvc:exclude-mapping path="/appUserSign.do"/>
			
			<mvc:exclude-mapping path="/websocket.do" />
			<!-- 使用bean定义一个Interceptor，直接定义在mvc:interceptors根下面的Interceptor将拦截所有的请求 -->
			<bean class="ict.monitor.interceptor.LoginInterceptor" />
		</mvc:interceptor>
	</mvc:interceptors>
		
	
	<!-- WebSocket 开始 -->
    <bean id="websocket" class="ict.monitor.service.websocket.MonitorWebsocketEndPoint" />
    <websocket:handlers >
         <websocket:mapping path= "/websocket.do" handler="websocket" />
         <websocket:handshake-interceptors>
             <bean class="ict.monitor.service.websocket.HandshakeInterceptor" />
         </websocket:handshake-interceptors>
    </websocket:handlers >
	<!-- WebSocket 结束 -->
	
</beans>  